html,body {
    background-color: bisque;
    color: blueviolet
}

h1 {
    font-size: 50px;
    color: green;
}

.name {
    color: hotpink;
    background-color: aquamarine;
    border: 8px groove lightgray;
}